body
    font-size: 18px
    background-color: #dee8fb

    main
        margin: 0 auto
        width: 1440px
        min-height: 900px

.window
    padding: 0
    margin-top: 10px
    width: 100%
    min-height: 900px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0 0 5px rgba(0,0,0, 0.02)
    &_background
        position: relative
        border-radius: 5px
        min-height: 900px
        background: url(../images/bg-main-desktop.png) 0% (0%/contain) no-repeat
        .wrapper_card
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            min-height: 900px
            .card_front
                @include style-cards
                background: url(../images/bg-card-front.png)
                top: 30%
                transform: translateY(-30%)
                box-shadow: 7px 15px 30px rgba(0,0,0,0.2)
                padding: 20px 25px
                .wrapper_front
                    position: relative
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    height: 100%
                &_circle
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    &_one
                        margin-right: 20px
                        background-color: white
                        border-radius: 100%
                        width: 60px
                        height: 60px
                    &_two
                        width: 25px
                        height: 25px
                        border: 2px solid white
                        border-radius: 100%
                &_number
                    position: absolute
                    top: 55%
                    height: 33%
                    color: white
                    font-size: 30px

                &_data
                    display: flex
                    justify-content: space-between
                    color: white
                    text-transform: uppercase
            .card_back
                @include style-cards
                background: url(../images/bg-card-back.png)
                top: 70%
                transform: translateY(-70%)
                box-shadow: 5px 3px 30px rgba(0,0,0,0.2)
                padding: 20px 25px
                align-self: flex-end
                &_cvv
                    height: 100%
                    padding-top: 10px
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    color: white
                    font-weight: 500
                    font-size: 18px
        .data
            min-height: 900px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            // border: 1px solid red
            .title
                color: black
                text-transform: uppercase
                font-size: 13px
                margin-bottom: 5px
                letter-spacing: 2px
            &_cardholder
                width: 100%
                margin-bottom: 20px
                &_input
                    @include style-inputs
            &_cardnumber
                width: 100%
                margin-bottom: 20px
                &_input
                    @include style-inputs
            &_info
                display: flex
                width: 100%
                margin-bottom: 20px
                &_date
                    width: 50%
                    .title
                        width: 100%
                    &_inputs
                        display: flex
                        &_month
                            @include style-inputs
                            margin-right: 10px
                            width: 40%
                        &_year
                            @include style-inputs
                            width: 40%
                &_cvv
                    width: 50%
                    &_input
                        @include style-inputs

            &_btn
                width: 100%
                height: 55px
                border: 1px solid $very-dark-violet
                border-radius: 10px
                background-color: $very-dark-violet
                color: $white
                transition: 0.3s ease
                &:hover
                    background-color: #fff
                    color: $very-dark-violet
                    border: 1px solid $very-dark-violet

            .wrapper_after_request
                width: 100%
                text-align: center
                display: flex
                flex-direction: column
                .request_check
                    margin: 0 auto 40px auto
                    height: 80px
                    width: 80px
                    background-color: $gradient-violet
                    border-radius: 100%
                .request_information
                    margin-bottom: 40px
                    &_title
                        margin-bottom: 10px
                        text-transform: uppercase
                        letter-spacing: 5px
                        font-size: 25px
                    &_subtitle
                        color: rgba(0,0,0,0.4)
                .request_button
                    height: 55px
                    border: 1px solid $very-dark-violet
                    border-radius: 10px
                    background-color: $very-dark-violet
                    color: $white
                    transition: 0.3s ease
                    &:hover
                        background-color: #fff
                        color: $very-dark-violet
                        border: 1px solid $very-dark-violet
            &_form_error
                display: block
                color: red
                text-align: left
                font-size: 14px            
            &_error
                text-align: center
                color: red
            .form-error
                border: 1px solid red
            .hidden
                display: none

