* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* reset properties of margin and padding */

/* SECTION FIRST */

.promo {
    min-height: 880px;
    background: url(../img/header-bg.png) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    margin-top: 14px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

h1 {
    margin-top: 53px;
}

.promo_title {
    font-family: Roboto;
    font-size: 41px;
    font-weight: 400;
    line-height: 0.59;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

h2.promo_title {
    margin-top: 30px;
}

.simple .promo_title_big {
    margin-top: 21px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 15px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.promo .promo_text span {
    font-weight: bold;
    color: #f9bf3b;
}

.promo .promo_btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    border: solid 4px rgba(0, 0, 0, 0.23);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;

}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    width: 30px;
    margin: 0 auto;
    margin-top: 13px;
}


/* SECTION SECOND */

.waiting {
    min-height: 604px;
    padding: 85px 0 75px 0;
    background-color: #efefef;
}

.waiting .waiting_header {
    font-size: 30px;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    margin: 18px auto;
    background-color: #f9bf3b;
}

.waiting .waiting_subheader {
    font-family: Roboto;
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;

}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    color: #4a4a4a;
}

/* THIRD SECTION */

.optimization {
    min-height: 550px;
    padding-top: 102px;
}

.optimization .woman_img {
    position: absolute;
    top: -54px;
    right: 238px;
    left: -240px;
    z-index: -1;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    color: #299cbd;
    text-transform: uppercase;
}

.optimization .optimization_descr {
    margin-left: 391px;
    font-family: Roboto;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.59;
    text-align: justify;
    color: #4a4a4a;
}

.optimization .optimization_descr span {
    font-weight: bold;
}

/* FOURTH SECTION */

.finish_study {
    min-height: 450px;
    background: url(../img/footer-bg.png) center center/cover no-repeat;
    padding: 86px 0 79px 0;
}

.finish_study .finish_header {
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
    color: #efefef;
    text-transform: uppercase;
}

.finish_study .finish_divider {
    margin: 0 auto;
    margin-top: 23px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.finish_study .finish_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 41px;
}

.finish_study .finish_wrapper .finish_item {
    flex: 1;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    color: #efefef;
}

.finish_study .finish_wrapper .finish_item .finish_descr {
    margin-top: 26px;
}

/* FIFTH SECTION */

.gift {
    min-height: 628px;
    padding: 86px 0 87px 0;
    background-color: #efefef;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_descr {
    margin-top: 42px;
    font-family: Roboto;
    font-size: 30px;
    line-height: 1.43;
    text-align: center;
    color: #252525;
}

.gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 21px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
