* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* reset properties of margin and padding */

.promo {
    height: 880px;
    background: url(../img/header-bg.png) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    margin-top: 14px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

h1 {
    margin-top: 53px;
}

.promo_title {
    font-family: Roboto;
    font-size: 41px;
    font-weight: 400;
    line-height: 0.59;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

h2.promo_title {
    margin-top: 30px;
}

.simple .promo_title_big {
    margin-top: 21px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

