.benefits {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 80px 0;

    &__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 65px;
        text-align: center;
    }

    &__benefit {
        width: 33%;

        img {
            margin-bottom: 38px;
        }

        h4 {
            margin-bottom: 26px;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            color: #0d0d0d;
            padding: 0 60px;

            a {
                color: $main-color;
                text-transform: uppercase;

                &:hover {
                    color: black;
                }
            }
        }
    }
}