.catalog {
    padding-bottom: 100px;

    &__tabs {
        margin-top: 60px;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    &__tab {
        text-align: center;
        width: 220px;
        height: 50px;
        border: solid 1px #d0d0d0;
        text-transform: uppercase;
        color: #d0d0d0;
        font-size: 18px;
        line-height: 48px;
        transform: skewX(-35deg);
        margin: 0 10px;
        cursor: pointer;
        transition: 0.4s ease;

        &:hover {
            box-shadow: 0 0 20px $main-color;
            border: none;
        }

        div {
            transform: skewX(35deg);
        }

        &_active {
            color: #fff;
            background-color: $main-color;
            border: solid 2px $main-color;
        }
    }

    &__content {
        display: none;
        position: relative;
        margin-top: 60px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        &_active {
            display: flex;
        }
    }
}