* {
  font-family: "Space Grotesk", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: #dee8fb;
}
body main {
  margin: 0 auto;
  width: 1440px;
  min-height: 900px;
}

.window {
  padding: 0;
  margin-top: 10px;
  width: 100%;
  min-height: 900px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
}
.window_background {
  position: relative;
  border-radius: 5px;
  min-height: 900px;
  background: url(../images/bg-main-desktop.png) 0% 0%/contain no-repeat;
}
.window_background .wrapper_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 900px;
}
.window_background .wrapper_card .card_front {
  position: absolute;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background: url(../images/bg-card-front.png);
  top: 30%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 7px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 7px 15px 30px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
}
.window_background .wrapper_card .card_front .wrapper_front {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.window_background .wrapper_card .card_front_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.window_background .wrapper_card .card_front_circle_one {
  margin-right: 20px;
  background-color: white;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.window_background .wrapper_card .card_front_circle_two {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 100%;
}
.window_background .wrapper_card .card_front_number {
  position: absolute;
  top: 55%;
  height: 33%;
  color: white;
  font-size: 30px;
}
.window_background .wrapper_card .card_front_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-transform: uppercase;
}
.window_background .wrapper_card .card_back {
  position: absolute;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background: url(../images/bg-card-back.png);
  top: 70%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  -webkit-box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.window_background .wrapper_card .card_back_cvv {
  height: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.window_background .data {
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.window_background .data .title {
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.window_background .data_cardholder {
  width: 100%;
  margin-bottom: 20px;
}
.window_background .data_cardholder_input {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 10px;
}
.window_background .data_cardholder_input:focus {
  border-color: hsl(249deg, 99%, 64%) to hsl(278deg, 94%, 30%);
}
.window_background .data_cardholder_input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardholder_input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardholder_input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardholder_input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardholder_input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardnumber {
  width: 100%;
  margin-bottom: 20px;
}
.window_background .data_cardnumber_input {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 10px;
}
.window_background .data_cardnumber_input:focus {
  border-color: hsl(249deg, 99%, 64%) to hsl(278deg, 94%, 30%);
}
.window_background .data_cardnumber_input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardnumber_input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardnumber_input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardnumber_input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_cardnumber_input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.window_background .data_info_date {
  width: 50%;
}
.window_background .data_info_date .title {
  width: 100%;
}
.window_background .data_info_date_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.window_background .data_info_date_inputs_month {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 10px;
  margin-right: 10px;
  width: 40%;
}
.window_background .data_info_date_inputs_month:focus {
  border-color: hsl(249deg, 99%, 64%) to hsl(278deg, 94%, 30%);
}
.window_background .data_info_date_inputs_month::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_month::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_month:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_month::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_month::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_year {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 10px;
  width: 40%;
}
.window_background .data_info_date_inputs_year:focus {
  border-color: hsl(249deg, 99%, 64%) to hsl(278deg, 94%, 30%);
}
.window_background .data_info_date_inputs_year::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_year::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_year:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_year::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_date_inputs_year::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_cvv {
  width: 50%;
}
.window_background .data_info_cvv_input {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 10px;
}
.window_background .data_info_cvv_input:focus {
  border-color: hsl(249deg, 99%, 64%) to hsl(278deg, 94%, 30%);
}
.window_background .data_info_cvv_input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_cvv_input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_cvv_input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_cvv_input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_info_cvv_input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data_btn {
  width: 100%;
  height: 55px;
  border: 1px solid hsl(278deg, 68%, 11%);
  border-radius: 10px;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.window_background .data_btn:hover {
  background-color: #fff;
  color: hsl(278deg, 68%, 11%);
  border: 1px solid hsl(278deg, 68%, 11%);
}
.window_background .data .wrapper_after_request {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.window_background .data .wrapper_after_request .request_check {
  margin: 0 auto 40px auto;
  height: 80px;
  width: 80px;
  background-color: hsl(278deg, 68%, 30%);
  border-radius: 100%;
}
.window_background .data .wrapper_after_request .request_information {
  margin-bottom: 40px;
}
.window_background .data .wrapper_after_request .request_information_title {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}
.window_background .data .wrapper_after_request .request_information_subtitle {
  color: rgba(0, 0, 0, 0.4);
}
.window_background .data .wrapper_after_request .request_button {
  height: 55px;
  border: 1px solid hsl(278deg, 68%, 11%);
  border-radius: 10px;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.window_background .data .wrapper_after_request .request_button:hover {
  background-color: #fff;
  color: hsl(278deg, 68%, 11%);
  border: 1px solid hsl(278deg, 68%, 11%);
}
.window_background .data_form_error {
  display: block;
  color: red;
  text-align: left;
  font-size: 14px;
}
.window_background .data_error {
  text-align: center;
  color: red;
}
.window_background .data .form-error {
  border: 1px solid red;
}
.window_background .data .hidden {
  display: none;
}

@media (max-width: 1440px) {
  .window {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  body main {
    width: 100%;
  }
  body .window {
    min-height: 915px;
  }
  body .window_background {
    position: relative;
    min-height: 0;
    border-radius: 0;
    height: 230px;
    background: url(../images/bg-main-desktop.png) 0% 0%/cover no-repeat;
    z-index: 4;
  }
  body .window .wrapper_card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    min-height: 200px;
  }
  body .window .wrapper_card .card_front {
    background: url(../images/bg-card-front.png) 0% 0%/cover no-repeat;
    top: 90%;
    width: 270px;
    height: 150px;
    z-index: 3;
  }
  body .window .wrapper_card .card_front_circle_one {
    width: 35px;
    height: 35px;
  }
  body .window .wrapper_card .card_front_circle_two {
    width: 15px;
    height: 15px;
  }
  body .window .wrapper_card .card_front_number {
    font-size: 18px;
  }
  body .window .wrapper_card .card_front_data {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  body .window .wrapper_card .card_front_data:nth-child(n) {
    font-size: 10px;
  }
  body .window .wrapper_card .card_back {
    background: url(../images/bg-card-back.png) 0% 0%/cover no-repeat;
    width: 270px;
    height: 150px;
    top: 77%;
  }
  body .window .wrapper_card .card_back_cvv {
    font-size: 10px;
    padding-top: 0;
  }
  body .window .data {
    min-height: 0;
    margin-top: 150px;
  }
}/*# sourceMappingURL=style.css.map */