* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: #dee8fb;
}

.window {
  padding: 0;
  margin-top: 10px;
  width: 100%;
  min-height: 900px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
}
.window_background {
  position: relative;
  border-radius: 5px;
  min-height: 900px;
  background: url(../images/bg-main-desktop.png) 0% 0%/contain no-repeat;
}
.window_background .wrapper_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 900px;
}
.window_background .wrapper_card .card_front {
  position: absolute;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background: url(../images/bg-card-front.png);
  top: 30%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 7px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 7px 15px 30px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
}
.window_background .wrapper_card .card_front .wrapper_front {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.window_background .wrapper_card .card_front_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.window_background .wrapper_card .card_front_circle_one {
  margin-right: 20px;
  background-color: white;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.window_background .wrapper_card .card_front_circle_two {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 100%;
}
.window_background .wrapper_card .card_front_number {
  position: absolute;
  top: 55%;
  height: 33%;
  color: white;
  font-size: 33px;
}
.window_background .wrapper_card .card_front_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-transform: uppercase;
}
.window_background .wrapper_card .card_back {
  position: absolute;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background: url(../images/bg-card-back.png);
  top: 70%;
  left: 28%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  -webkit-box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
}
.window_background .wrapper_card .card_back_cvv {
  height: 100%;
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 500;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */