@import "./base/variables";
@import "./base/mixins";

* {
    font-family: "Museo Sans Cyrl", sans-serif;
    margin: 0;
    padding: 0;
}

@import "./blocks/mains/form";
@import "./blocks/mains/title";
@import "./blocks/mains/button";
@import "./blocks/mains/catalog-item";

@import "./blocks/sections/promo";
@import "./blocks/mains/header";
@import "./blocks/sections/benefits";
@import "./blocks/sections/consultation";
@import "./blocks/sections/carousel";
@import "./blocks/sections/catalog";
@import "./blocks/sections/reviews";
@import "./blocks/sections/footer";
@import "./responsive/media";