@import "./base/variables";
@import "./base/mixins";

* {
    font-family: "Museo Sans Cyrl", sans-serif;
    margin: 0;
    padding: 0;
}

@import "./blocks/sections/promo";
@import "./blocks/sections/benefits";
@import "./blocks/sections/consultation";
@import "./blocks/mains/form";
@import "./blocks/mains/title";
@import "./blocks/mains/header";
@import "./blocks/mains/button";