* {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  position: relative;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #212121;
}

header nav {
  padding: 13px 70px;
}
header .menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
header .menu_header .menu_item .menu_link {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  padding: 2px 0;
  padding-right: 45px;
  border-right: 2px dotted white;
}
header .menu_header .menu_item .menu_link:hover {
  text-decoration: underline;
}
header .menu_header .menu_item:last-child .menu_link {
  border-right: none;
}
header .subheader {
  position: absolute;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  margin-top: 50px;
}
header .subheader .subheader_logo_link {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
header .subheader .subheader_title {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
header .subheader .subheader_call {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: #fff;
}
header .subheader .subheader_phone_number {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  color: #fff;
  text-decoration: none;
  line-height: 12px;
}
header .subheader .subheader_btn {
  width: 172px;
  height: 46px;
  margin: 19px auto;
  padding-top: 12px;
  text-align: center;
  -webkit-box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

/* SUBHEADER */
/* PROMO SECTION */
.promo {
  padding: 151px 0 135px 0;
  min-height: 800px;
  background: url(../imgs/cars-with-hand_header.png) center center/cover no-repeat;
  text-align: center;
}
.promo .promo_title {
  font-weight: bold;
  font-size: 60px;
  color: #fff;
}
.promo .promo_subtitle {
  font-weight: 600;
  font-size: 36px;
  color: #fff;
}
.promo .promo_descr {
  padding-top: 23px;
  font-family: Roboto;
  font-size: 18px;
  /* line-height: 1.33; */
  color: #fff;
}
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  padding: 19px 39px;
  font-size: 18px;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  border-radius: 5px;
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* PLUSES */
.pluses {
  padding: 71px 0 65px 0;
}

.pluses_head {
  text-align: center;
}
.pluses_head .pluses_title {
  display: inline-block;
  padding: 8px 12px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
}
.pluses_head .pluses_reasons_title {
  padding-top: 38px;
  font-size: 38px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
}

.pluses .pluses_reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}
.pluses .pluses_reason .reason_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  height: 113px;
  border-radius: 50%;
  background-color: #1eacc7;
}
.pluses .pluses_reason .reason_descr {
  text-align: justify;
  width: 341px;
  margin-left: 26px;
  font-size: 15px;
  font-weight: 300;
  color: #202020;
}
.pluses .pluses_reason .reason_descr .descr_title {
  color: #1eacc7;
  font-weight: 400;
  text-align: start;
}

/* Advantages of mobile app */
.mobile {
  background: url(../imgs/mobile-app/background-photo.png) center center/cover no-repeat;
  text-align: center;
  min-height: 865px;
  padding: 48px 0 80px 0;
}
.mobile .mobile_head .mobile_title {
  display: inline-block;
  padding: 8px 12px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
}
.mobile .mobile_head .mobile_app {
  padding-top: 38px;
  font-size: 38px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
}
.mobile .mobile_head .mobile_subtitle {
  padding-top: 19px;
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
.mobile .mobile_line_adv {
  padding-top: 32px;
}

/* .mobile .mobile_adv .mobile_adv_content {
 * *    position: absolute;
 * *    bottom: 50%;
 * *    top: 50%;
 * *} *//*# sourceMappingURL=styles.css.map */