.btn {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: $main-color;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: 0.4s ease;
    &_main {
        margin-top: 68px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_form {
        width: 300px;
        height: 55px;
        font-size: 16px;
    }
    &:hover {
        background-color: #fff;
        color: #000000;
    }
}