.header {
  position: relative;
  height: 857px;
  background: url("../assets/img/vectors/bgc-header/bgc-header.svg") center
    (right/contain) no-repeat;
}

.mobile {
  grid-column: 11/13;
  display: flex;
  height: 100%;
  align-items: center;
  justify-self: end;
  &__icon {
    position: relative;
    align-self: center;
    margin-right: 0.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: var(--primary-clr);
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__phone {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.development-center {
  margin-top: 130px;
  max-width: 665px;
}

.descr {
  max-width: 535px;
  margin-top: 2.75rem;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}
