html {
    font-family: Gilroy, sans-serif;
}

/* NAVIGATION */

.navbar {
    background-color: #000;
}

.navbar .navbar-brand .logo {
    display: flex;
    align-items: center;
    color: #fff;

}

.navbar .navbar-brand .logo .logo_name {
    text-decoration: none;
    color: #fff;
}

.navbar .navbar-brand .logo .logo_name:hover {
    color: rgb(189, 195, 199);
    cursor: pointer;
}

.navbar .navbar-brand .link_helper {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navbar .navbar-brand .link_helper:hover {
    text-decoration: underline;
}

/* SEEARCHBAR */

.searchbar {
    background-color: #dadbf1;
    min-height: 200px;
}

.searchbar {
    padding-top: 80px;
    padding-bottom: 110px;
}

.searchbar .searchbar_content {
    margin: 0 auto;
    max-width: 720px;
}

.searchbar .searchbar_content .searchbar_title {
    display: block;
    text-align: center;
    font-size: 80px;
    font-weight: medium;
    word-spacing: -10px;
}

.searchbar .searchbar_content .searchbar_search-box {
    position: relative;
}

.searchbar .searchbar_content .searchbar_search-box .searchbar_search {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    height: 60px;
    width: 700px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #4C5FD5;
    border-radius: 3px;
    font-size: larger;
    color: #000;
}

.searchbar .searchbar_content .searchbar_search::placeholder {
    color:#000;
    opacity: 1;
}

.searchbar .searchbar_content .searchbar_search-box .searchbar_arrow {
    position: absolute;
    /* display: inline-block;    */
    top: 21px;
    right: 25px;
    cursor: pointer;
}

/* .searchbar .searchbar_content .searchbar_search-box:hover {
    background-color:#dadbf1;
    transition: ease 0.5s;
} */

/* columns with information */

.grid-information  {
    padding: 100px 0 30px 0;
}

.grid-information .row .card .card-body a {
    text-decoration: none;
    color: #4C5FD5;
}

.grid-information .row .card .card-body a:hover {
    text-decoration: underline;
}


/* footer */

.footer {
    background-color: #000;
    min-height: 30px;
    padding-top: 50px;
}

.footer .wrapper {
    min-height: 285px;
}

.footer .wrapper .footer_item {
    width: 250px;
}

.footer .wrapper .footer_item h5 {
    margin-bottom: 16px;
    font-size: 25px;
}

.footer .wrapper .footer_item a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.footer .wrapper .footer_item a:hover {
    text-decoration: underline;
}

.footer .wrapper .footer_column_copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer .wrapper .footer_column_copyright .footer_column_text {
    color: #fff;
    padding-top: 20px;
    font-size: large;
}


/* modal window */

.modal_login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_login .modal_login_content {
    position: fixed;
    top: 20%;
    left: 50%; 
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 30rem;
    min-height: 20rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 30px 0 30px 0;
}

.modal_login .modal_login_content .modal_close {
    position: absolute;
    font-size: 30px;
    line-height: 28px;
    right: 6px;
    top: 1px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.modal_login .modal_login_content .modal_title {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.modal_login .modal_login_content .modal_title > h3 {
    font-size: 55px;
    font-weight: 700;
    padding-right: 5px;
}

.modal_login .modal_login_content .modal_title > h5 {
    font-weight: 600;
    padding-right: 7px;
}

.modal_login .modal_login_content .modal_title .social_media {
    display: flex;
    padding-right: 7px;
}

.modal_login .modal_login_content .modal_title .social_media .modal_link {
    margin-right: 5px;
}

.modal_login .modal_login_content .modal_title .social_media .modal_facebook {
    background: url(../icons/social-media/facebook.png) center center/cover no-repeat;
    width: 30px;
    height: 30px;

}

.modal_login .modal_login_content .modal_title .social_media .modal_apple-id {
    background: url(../icons/social-media/apple-id.png) center center/cover no-repeat;
    width: 30px;
    height: 30px;
}

.modal_login .modal_login_content .modal_title .social_media .modal_google {
    background: url(../icons/social-media/google.png) center center/cover no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 0;
}

.modal_login .modal_login_content .modal_form {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    align-items: center;
    padding-top: 20px;
    padding-right: 8px;
}

.modal_login .modal_login_content .modal_form input {
    width: 340px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
}

.modal_login .modal_login_content .modal_form input:nth-of-type(2) {
    margin-top: 20px;
}


.modal_login .modal_login_content .modal_form .form_btn {
    width: 340px;
    height: 50px;
    margin-top: 35px;
    color: #fff;
    background-color: #000;
    border: 1px solid black;
    border-radius: 5px;
    /* margin-right: 160px; */
}

.modal_login .modal_login_content .modal_form .form_btn:hover {
    background-color: #fff;
    color:#000;
    transition: ease 0.3s;
}

.modal_login .modal_login_content .modal_data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 68px;
    margin-right: 7px;
}

.modal_login .modal_login_content .modal_data label {
    color: #000;
    font-size: 0.8em;
}

.modal_login .modal_login_content .modal_data a {
    text-decoration: none;
    color: #000;
    font-size: 0.8em;
}

.modal_login .modal_login_content .modal_data a:hover {
    text-decoration: underline;
}

.modal_login .modal_login_content .modal_footer {
    /* position: absolute; */
    padding-top: 20px;
    left: 68px;
    font-size: 0.8em;
    color: #000;
}

.modal_login .modal_login_content .modal_footer .modal_sign_up a {
    text-decoration: none;
    color: #000;
}

.modal_login .modal_login_content .modal_footer .modal_sign_up a:hover {
    text-decoration: underline;
}

.modal_login .modal_login_content .modal_footer .modal_terms_of_policy {
    text-decoration: none;
    color: gray;
}