.slider-arrow {
  &_prev,
  &_next {
    position: absolute;
    cursor: pointer;
    top: 500px;
  }

  &_prev {
    left: -10%;
  }

  &_next {
    right: -10%;
  }
}

.comments-arrow {
  &_prev,
  &_next {
    position: absolute;
    z-index: 99;
    cursor: pointer;
    top: 65%;
    transform: translateY(-50%);
  }

  &_prev {
    left: -60px;
  }

  &_next {
    right: -50px;
  }
}
