.btn {
  cursor: pointer;
  &_contact {
    margin-top: 2.5rem;
    width: 15.25rem;
    height: 4.063rem;
    border-radius: 1.875rem;
    border: none;
    background-color: var(--y-darker);
    font-size: 1.25rem;
    font-weight: 500;
    box-shadow: 0 10px 35px -5px rgba(250, 224, 26, 1);
  }

  &_card {
    display: block;
    margin: auto auto 0 auto;
    width: 13.688rem;
    height: 4.25rem;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    color: #fff;
    &_preparation {
      background-color: var(--primary-clr);
    }

    &_read {
      background-color: var(--purple-m);
    }

    &_arithmetic {
      background-color: var(--g-kelly);
    }

    &_calligraphy {
      background-color: var(--y-lemon);
    }

    &_english {
      background-color: var(--pink-f-r);
    }

    &_day-care-center {
      background-color: var(--y-lighting);
    }
  }

  &_more {
    color: var(--primary-clr);
  }

  &_form {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 244px;
    height: 64px;
    background-color: var(--y-darker);
    box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
    border-radius: 1.875rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
}
