.circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  &_bgc-yellow,
  &_bgc-charlotte {
    background-color: var(--y-lite);
    width: 201px;
    height: 200px;
    top: 0;
    left: -2rem;
  }

  &_bgc-yellow {
    z-index: 1;
    left: -3%;
    top: 16%;
  }

  &_bgc-charlotte {
    top: 3.85rem;
    left: 2.3rem;
    background-color: #95d8e0;
  }

  &_brd-primary {
    z-index: 1;
    width: 268px;
    height: 267px;
    border: 16px solid var(--primary-clr);
    right: 6%;
  }

  &_certificate {
    width: 4.1rem;
    height: 4.1rem;
    background: #95d8e0;
    bottom: 0;
    left: 2.375rem;
  }
}
